<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="output.css" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>error</title>
  </head>
  <body>
    <h1 align-="center">404 Error ! Page Not Found</h1>
    <div class="columns-3 ...">
      <div  class="w-sm h-sm">
        <img class="aspect-2/2 ..." src="/images/bentley.jpg" />
        <img class="aspect-square ..." src="/images/bentley.jpg" />
        <img class="aspect-square ..." src="/images/bentley.jpg" />
      </div>
      <!-- ... -->
    </div>
  </body>
</html>
